.wen-content {
  .ant-modal-content {
    padding:0;
    width: 350px;
    height: 350px;
  }
  .wen-data{
    height: 40px;
    background-color: red;
    line-height: 40px;
  }
  .wen-wencontent{
    background-color: #55a532;
    height: calc(350px - 40px);
  }
  .wen-add-content{
    background-color: blue;

  }

}