.FourQuadrants{
  width: calc(100% - 50px);
  height: calc(100% - 35px);
  background: #F8FAFF;
  float: right;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  h3{
    width: 100%;
    padding: 5px 0;
    background: #F8FAFF;
    text-indent: 8px;
  }
  .FourQuadrants_box_four{
    width: 100%;
    height: calc(100% - 30px);
    .FourQuadrants_box{
      width:49%;
      height: 49%;
      border-radius: 5px;
      background: #FFFFFF;
      padding:0 0 10px 10px ;
      box-sizing: border-box;
      h5{
        height: 30px;
        line-height: 30px;
      }
    }
    .content_taskList{
      width: 100%;
      height: calc(100% - 25px);
      background: white;
      overflow: auto;
    }
    .content_taskList::-webkit-scrollbar{
      width: 5px;
      height: 8px;
    }
    .content_taskList::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: #d4d6d9;
    }
    .content_taskList::-webkit-scrollbar-track-piece{
      background-color: #fff;
      border-radius: 10px;
    }
  }

}
